@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root{
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Font-DM-Serif-Display: 'DM Serif Display', serif;
    --Font-Karla: 'Karla', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


.padding-left-right{
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: var(--Font-DM-Serif-Display);
}
.paragraph{
    font-family: var(--Font-Karla);
}
.button-view{
    background-color: transparent;
    color: var(--Very-Light-Gray);
    opacity: 0.9;
    font-family: var(--Font-Karla);
    border: 1px solid var(--Very-Light-Gray);
    font-size: 1.5rem;
    width: 50%;
    height: 4rem;

}
.container{
    .header{
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .box-logo{   
            flex: 1;
            width: 11rem;
            height: 2rem;
        }
        .hamburguesa{
            width: 3rem;
            height: 3rem;
            background-image: url(../images/icon-hamburger.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: 0.5s ease-in-out;
        }
        .close{
            background-image: url(../images/icon-close.svg);
        }
        .menu{
            display: none;
            align-items: center;
            z-index: 1000;
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            width: 100%;
            background-color: hsla(270, 9%, 17%, 0.943);
            flex-direction: column;
            row-gap: 1.9rem;
            padding: 4rem 2.3rem;
            height: 80vh;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 21rem;
                background-image: url(../images/bg-pattern-mobile-nav.svg);
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
            }
            .option{
                list-style: none;
                .path{
                    text-decoration: none;
                    color: var(--Very-Light-Gray);
                    font-family: var(--Font-Karla);
                    font-weight: 700;
                    font-size: 1.4rem;
                    word-spacing: 0.1rem;
                }
                &:nth-child(4){
                    border: 1px solid var(--Very-Light-Gray);
                    padding: 1rem 8rem;
                }
            }   
        }
        .ver{
            display: flex;
        }
    }
    .container-seccion-intro{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            width: 11rem;
            height: 28rem;  
            background-image: url(../images/bg-pattern-intro-right-mobile.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
    
        }
        .image-intro{
            position: relative;
            height:45rem;
            background-image: url(../images/image-intro-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .seccion-intro{
            background-image: url(../images/bg-pattern-intro-left-mobile.svg);
            background-repeat: no-repeat;
            padding-top: 6rem;
            padding-bottom: 7rem;
            text-align: center;
            background-color: var(--Dark-Violet);
            .title,.paragraph{
                color: var(--Very-Light-Gray);
            }
            .title{
                font-size: 3rem;
                opacity: 0.9;
            }
            .paragraph{
                padding: 0 1.9rem;
                margin-top: 1rem;
                font-size: 1.4rem;
                word-spacing: 0.1rem;
                line-height: 2.3rem;
                opacity: 0.8;
            }
            .button-view{
                margin-top: 3rem;
            }
        }
    }
    .seccion-target{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8rem;
        &::before{
            content: '';
            position:  absolute;
            top: 0;
            transform: translateY(4.5rem);
            width: 13rem;
            height: 0.1rem;
            background-color: var(--Dark-Grayish-Violet);
        }
        .title{
            text-align: center;
            font-size: 4.5rem;
            font-weight: 400;
            color: var(--Dark-Violet);
        }
        .target{
            text-align: center;
            margin-top: 5rem;
            .icon{
                width: 7.5rem;
            }
            .title{
                margin-top: 3rem;
                font-size: 2.2rem;
            }
            .paragraph{
                padding: 0 2rem;
                margin-top: 2rem;
                font-size: 1.4rem;
                line-height: 2.3rem;
                color: var(--Dark-Grayish-Violet);
            }
            &:nth-child(2){
                margin-top: 6rem;
            }
        } 
       
    }
    .target-footer{
        margin: 0 2.3rem;
        padding: 6rem 2.8rem;
        text-align: center;
        background-color: var(--Dark-Violet);
        background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-position: right top -3rem;
        background-size: 20rem;
        .title{
            font-size: 3rem;
            color: var(--Very-Light-Gray);
        }
        .button-view{
            margin-top: 4rem;
        }
    }
    footer{
        position: relative;
        margin-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 6rem;
        background-color: var(--Very-Light-Gray);
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 18rem;
            top: 0;
            left: 0;
            background-image: url(../images/bg-pattern-footer-mobile.svg);
            background-repeat: no-repeat;
            background-size:100%;
            
        }
        .footer-header{
            position: relative;
            flex-direction: column;
            padding: 7rem 0 4.5rem 0;
            width: 100%;
            .seccion-social-media{
                column-gap: 1.4rem;
                margin-top: 2.5rem;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 88%;
                height: 1px;
                background-color: var(--Dark-Grayish-Violet);
                opacity: 0.3;
            }
        }
        .footer-seccion-container{
            flex-direction: column;
            margin-top: 3.5rem;
            .footer-seccion{
                margin-bottom: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                .list-title{
                    font-family: var(--Font-Karla);
                    color: var(--Dark-Grayish-Violet);
                    font-size: 1.2rem;
                    letter-spacing: 0.1rem;
                    margin-bottom: 1.6rem;
                }
                .paragraph{
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var(--Very-Dark-Violet);
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-top: .6rem;
                }
            }
        }
    }
}

@media (min-width:550px){
    .button-view{
        width: 14rem;
    }
    .container{
        .header{
            padding-top: 0;
            padding-bottom: 0;
            .menu{
                display: flex;
                justify-content: flex-end;
                position: relative;
                transform: none;
                flex-direction: row;
                height: 7rem;
                background-color: unset;
                row-gap: 0;
                column-gap: 2rem;
                padding: 0;
                &::after{
                    content: none;
                    position: unset;
                    bottom: unset;
                    width: unset;
                    height: unset;
        
                }
                .option {
                    .path{
                        font-size: 1.3rem;
                        color: var(--Dark-Grayish-Violet);
                    }
                    &:nth-child(4){
                        border: 2px solid var(--Very-Dark-Violet);
                        padding: 0.8rem 2rem;
                        .path{
                            color: var(--Very-Dark-Violet);
                        
                        }
                    }
                }
            }
            .hamburguesa{
                display: none;
            }
        }
        footer{
            &::before{
                background-position: left top;
                width: 35rem;
                height: 20rem;
                background-image: url(../images/bg-pattern-footer-desktop.svg);
            }
        }
    }
}

@media(min-width:775px){
    .button-view{
        width: 15rem;
        height: 4rem;
    }
    .container{
        .container-seccion-intro{
            width: 100%;
            &::after{
                left: 0;
                background-image: url(../images/bg-pattern-intro-left-desktop.svg);
                transform: translateY(-100%);
            }
           .image-intro{
                z-index: 2;
                position: absolute;
                margin-top: 12rem;
                margin-right: 3rem;
                right: 0;
                width: 30rem;
                height: 40rem;
                background-image: url(../images/image-intro-desktop.jpg);
                background-size: contain;
           }
           .seccion-intro{
                position: relative;
                background-image: url(../images/bg-pattern-intro-right-desktop.svg);
                background-size: contain;
                background-position: right;
                height: 43rem;
                margin-bottom: 12rem;
                text-align: left;
                &::before{
                    content: '';
                    position:  absolute;
                    top: 0;
                    transform: translateY(4.5rem);
                    width: 10rem;
                    height: 0.1rem;
                    background-color: var(--Dark-Grayish-Violet);
                }
                .title{
                    font-size: 4rem;
                    max-width: 38rem;
                }
                .paragraph{
                    padding: 0;
                    max-width: 40rem;
                    font-size: 1.5rem;
                }
           }
        }
        .seccion-target{
            display: grid;
            column-gap: 2rem;
            grid-template-rows: 2;
            grid-template-columns: repeat(3,1fr);
            &::before{
                left: 3rem;
            }
            .title{
                justify-self: flex-start;
                grid-row: 1;
                grid-column: 1/-1;
            }
            .target{
                padding-top: 5rem;
                text-align: left;
                align-self: flex-start;
                margin-top: 0;
                .title{
                    text-align: start;
                }
                .paragraph{
                    padding: 0;
                }
                &:nth-child(2){
                    margin-top: 0;
                }
              
            }
        }
        .target-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 8rem;
            .title{
                text-align: left;
                max-width: 50rem;
                font-size: 4.5rem;     
            }
            .button-view{
                margin-top: 0;
                
            }
        }
        footer{
            &::before{
                width: 45rem;
                height: 30rem;
            }
            .footer-header,.footer-seccion-container{
                padding-left: 5.5rem;
                padding-right: 5.5rem;
            }
            .footer-header{
                flex-direction: row;
                justify-content: space-between;
                .seccion-social-media{
                    margin-top: 0;
                }
            }
            .footer-seccion-container{
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;

                .footer-seccion{
                   align-items: flex-start;
                   .list-title{
                    font-size: 1.4rem;
                   }
                   .paragraph{
                    font-size: 1.3rem;
                    margin-top: 1rem;
                   }
                }
            }
        }
    }
}


